extends base
block content
  .container.pt-4
    h2.text-center Aeropuertos
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr.tr.bg-dark.text-white
              //th(scope='col') ID
              th(scope='col') CodioIATA
              th(scope='col') Ciudad
              th(scope='col') Pais
              th(scope='col') Pista (Km)
              th(scope='col')
              th(scope='col')
          tbody
          - for (var i = 0; i < airports.length; i++)
            tr
              //th(scope='row') #{airports[i].idAirport}
              td #{airports[i].codigoIATA}
              td #{airports[i].ciudad}
              td #{airports[i].pais}
              td
                form(action=`show/${airports[i].id}`,method="POST")
                  button.btn.btn-outline-dark(type='submit') Detalle
              td
                form(action=`delete/${airports[i].id}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar
        h4.mt-5 Registrar Aeropuerto
        div.card.bg-dark
          div.card-body.text-white
            form(action='create/' method="POST")
              .form-group
                label(for='codigoIATA') CodigoIATA
                input#codigoIATA.form-control(type='text' aria-describedby='codigoIATA' placeholder='CodigoIATA' name='codigoIATA')
              .form-group
                label(for='ciudad') Ciudad
                input#ciudad.form-control(type='text' placeholder='Ciudad' name='ciudad')
              .form-group
                label(for='pais') Pais
                input#pais.form-control(type='text' placeholder='Pais' name='pais')
              button.btn.btn-danger(type='submit') Registrar