extends base
block content
  .container.pt-4
    - if (!airportsUpdate)
      h2.text-center Aeropuertos
      .row.mt-5
        .col-12
          table.table.bg-white
            thead
              tr.tr.bg-dark.text-white
                //th(scope='col') ID
                th(scope='col') CodioIATA
                th(scope='col') Ciudad
                th(scope='col') Pais
                th(scope='col')
                th(scope='col')
            tbody
            - for (var i = 0; i < airports.length; i++)
              tr
                //th(scope='row') #{airports[i].idAirport}
                th(scope='row') #{airports[i].codigoIATA}
                td #{airports[i].ciudad}
                td #{airports[i].pais}
                td
                  form(action=`show/${airports[i].codigoIATA}`,method="GET")
                    button.btn.btn-outline-dark(type='submit') Modificar
                td
                  form(action=`delete/${airports[i].codigoIATA}`,method="POST")
                    button.btn.btn-outline-danger(type='submit') Eliminar
    - if(airportsUpdate)
      h4.mt-5 Modificar Aeropuerto
      div.card.bg-dark
        div.card-body.text-white
          form(action= `update/${airportsUpdate[0].codigoIATA}` method="POST")
            .form-group
              label(for='codigoIATA') CodigoIATA
              input#codigoIATA.form-control(type='text' value=`${airportsUpdate[0].codigoIATA}` aria-describedby='codigoIATA' placeholder='CodigoIATA' name='codigoIATA')
            .form-group
              label(for='ciudad') Ciudad
              input#ciudad.form-control(type='text' value=`${airportsUpdate[0].ciudad}` placeholder='Ciudad' name='ciudad')
            .form-group
              label(for='pais') Pais
              input#pais.form-control(type='text' value=`${airportsUpdate[0].pais}` placeholder='Pais' name='pais')
            button.btn.btn-danger(type='submit') Modificar    
    - if (!airportsUpdate)              
      h2.text-center Pistas
      .row.mt-5
        .col-12
          table.table.bg-white
            thead
              tr.tr.bg-dark.text-white
                th(scope='col') ID
                th(scope='col') Aeropuerto
                th(scope='col') distancia
                th(scope='col')
                th(scope='col')
            tbody
            - for (var i = 0; i < pistas.length; i++)
              tr
                th(scope='row') #{pistas[i].id}
                - for (var j = 0; j < airports.length; j++)
                  - if (airports[j].codigoIATA == pistas[i].codigoIATA && airports[j].activo == 1)
                    td #{airports[j].codigoIATA}
                    td #{pistas[i].distancia}
                    td
                      form(action=`show/pista/:${pistas[i].id}`,method="POST")
                        button.btn.btn-outline-dark(type='submit') Modificar
                    td
                      form(action=`delete/pista/:${pistas[i].id}`,method="POST")
                        button.btn.btn-outline-danger(type='submit') Eliminar
      - if (!airportsUpdate)
        div.row
          div.col-6
            h4.mt-5 Registrar Aeropuerto
            div.card.bg-dark
              div.card-body.text-white
                form(action='create/' method="POST")
                  .form-group
                    label(for='codigoIATA') CodigoIATA
                    input#codigoIATA.form-control(type='text' aria-describedby='codigoIATA' placeholder='CodigoIATA' name='codigoIATA')
                  .form-group
                    label(for='ciudad') Ciudad
                    input#ciudad.form-control(type='text' placeholder='Ciudad' name='ciudad')
                  .form-group
                    label(for='pais') Pais
                    input#pais.form-control(type='text' placeholder='Pais' name='pais')
                  button.btn.btn-danger(type='submit') Registrar
          div.col-6
            h4.mt-5 Agregar pista
            div.card.bg-dark
              div.card-body.text-white
                form(action='agregarPista/' method="POST")
                  .form-group
                    label(for='codigoIATA') Aeropuerto
                    select#idAirport.form-control(type='select' placeholder='Aeropuerto' name='codigoIATA').custom-select
                      option(value="") ...
                      - for (var i = 0; i < airports.length; i++)
                        - if (airports[i].activo == 1)
                          option(value=`${airports[i].codigoIATA}`) #{airports[i].codigoIATA}, #{airports[i].ciudad}, #{airports[i].pais}
                  .form-group
                    label(for='distancia') Distancia
                    input#distancia.form-control(type='number' min="0" placeholder='0' name='distancia')
                  button.btn.btn-warning(type='submit') Agregar