extends base
block content
  .container.pt-4
    h2.text-center Alquiler de aviones
    - if (true)
      .row.mt-5
        .col-12
          h4.text-center Historial de alquiler de aviones
          table.table.bg-white
            thead
              tr.tr.bg-dark.text-white
                th(scope='col') Avión
                th(scope='col') Proveedor
                th(scope='col') Fecha de Solicitud
                th(scope='col') Fecha de Entrega
                th(scope='col') Fecha de Devolución
                th(scope='col') Monto Pagado
                th(scope='col')
                th(scope='col')
            tbody
            - for (var i = 0; i < avionesAlquilados.length; i++)
              tr
                th #{avionesAlquilados[i].IdAvion}
                - for(let j = 0; j < proveedores.length; j++)
                  - if(avionesAlquilados[i].IdProveedor == proveedores[j].IdProveedor)
                    td #{proveedores[j].Nombre}
                td #{avionesAlquilados[i].FechaSolicitud}
                td #{avionesAlquilados[i].FechaEntrega}
                td #{avionesAlquilados[i].FechaDevolucion}
                td #{avionesAlquilados[i].MontoPagado}
                td
                  form(action=`/alquilerAviones/${avionesAlquilados[i].IdAvion}-${avionesAlquilados[i].IdProveedor}-${avionesAlquilados[i].FechaSolicitud}`,method="GET")
                    button.btn.btn-outline-dark(type='submit') Modificar
                td
                  form(action=`/alquilerAviones/delete/${avionesAlquilados[i].IdAvion}-${avionesAlquilados[i].IdProveedor}-${avionesAlquilados[i].FechaSolicitud}`,method="POST")
                    button.btn.btn-outline-danger(type='submit') Eliminar
    
      - if (!avionAlquiladoUpdate)
        div.row
          div.col-6
            h4.mt-5 Reistrar alquiler de avión
            div.card.bg-dark
              div.card-body.text-white 
                  form(action='/alquilerAviones/create/' method="POST")
                    .form-group
                        label(for='IdAvion') Avión
                        select#IdAvion.form-control(type='select' name='IdAvion' required).custom-select
                            option(value="" selected) ...
                            - for(let i = 0; i < aviones.length; i++)
                              - if(aviones[i].EstatusAvion == 'En Espera')
                                option(value=`${aviones[i].IdAvion}`) #{aviones[i].IdAvion}
                    .form-group
                        label(for='IdProveedor') Proveedor
                        select#IdProveedor.form-control(type='select' name='IdProveedor' required).custom-select
                            option(value="" selected) ...
                            - for(let i = 0; i < proveedores.length; i++)
                              option(value=`${proveedores[i].IdProveedor}`) #{proveedores[i].Nombre}
                    .form-group
                        label(for='FechaSolicitud') Fecha de Solicitud
                        input#FechaSolicitud.form-control(type='date' name='FechaSolicitud' required)
                    .form-group
                        label(for='FechaEntrega') Fecha de Entrega
                        input#FechaEntrega.form-control(type='date' name='FechaEntrega')
                    .form-group
                        label(for='FechaDevolucion') Fecha de Devolución
                        input#FechaDevolucion.form-control(type='date' name='FechaDevolucion')
                    .form-group
                        label(for='MontoPagado') Monto Pagado $
                        input#MontoPagado.form-control(type='number' value="0" min="0" name='MontoPagado')
                    button.btn.btn-danger(type='submit') Agregar
      - if (avionAlquiladoUpdate)  
        div.row
          div.col-6
            h4.mt-5 Modificar alquiler de avión
            div.card.bg-dark
              div.card-body.text-white 
                  form(action=`/alquilerAviones/update/${avionAlquiladoUpdate.IdAvion}-${avionAlquiladoUpdate.IdProveedor}-${avionAlquiladoUpdate.FechaSolicitud}` method="POST")
                    .form-group
                        label(for='IdAvion') Avión
                        select#IdAvion.form-control(type='select' name='IdAvion' required).custom-select
                          - for(let i = 0; i < aviones.length; i++)
                            - if(aviones[i].EstatusAvion == 'En Espera')
                              option(value=`${aviones[i].IdAvion}` selected=(avionAlquiladoUpdate.IdAvion == aviones[i].IdAvion)) #{aviones[i].IdAvion}
                    .form-group
                        label(for='IdProveedor') Proveedor
                        select#IdProveedor.form-control(type='select' name='IdProveedor' required).custom-select
                            - for(let i = 0; i < proveedores.length; i++)
                              option(value=`${proveedores[i].IdProveedor}` selected=(avionAlquiladoUpdate.IdProveedor == proveedores[i].IdProveedor)) #{proveedores[i].Nombre}
                    .form-group
                        label(for='FechaSolicitud') Fecha de Solicitud
                        input#FechaSolicitud.form-control(type='date' value=`${avionAlquiladoUpdate.FechaSolicitud}` name='FechaSolicitud' required)
                    .form-group
                        label(for='FechaEntrega') Fecha de Entrega
                        input#FechaEntrega.form-control(type='date' value=`${avionAlquiladoUpdate.FechaEntrega}` name='FechaEntrega')
                    .form-group
                        label(for='FechaDevolucion') Fecha de Devolución
                        input#FechaDevolucion.form-control(type='date' value=`${avionAlquiladoUpdate.FechaDevolucion}` name='FechaDevolucion')
                    .form-group
                        label(for='MontoPagado') Monto Pagado $
                        input#MontoPagado.form-control(type='number' value=`${avionAlquiladoUpdate.MontoPagado}` min="0" name='MontoPagado')
                    button.btn.btn-danger(type='submit') Modificar