extends base
block content
  .container.pt-4
    - if (!ofertasVuelos && !escalasOfertadas && !destinosPop)
      h1.text-center.card-title Bienvenido a Guacamaya Airlines
    - if(!ofertasVuelos && !escalasOfertadas && !destinosPop)
      div.row
        div.col-4
          h4.mt-5.text-center Ofertas de vuelos
          div.card.bg-dark
            div.card-body.text-white 
              form(action=`/buscarOfertas/` method="POST")
                .form-group
                  label(for='Origen') Origen
                  select#Origen.form-control(type='select' name='Origen' required).custom-select
                    option(value='' selected) ...
                      - for (let i = 0; i < aeropuertos.length; i++)
                        option(value=`${aeropuertos[i].CodigoIATA}`) #{aeropuertos[i].CodigoIATA}, #{aeropuertos[i].Ciudad} - #{aeropuertos[i].Pais}
                .form-group
                  label(for='Destino') Destino
                  select#Destino.form-control(type='select' name='Destino' required).custom-select
                    option(value='' selected) ...
                    - for (let i = 0; i < aeropuertos.length; i++)
                      option(value=`${aeropuertos[i].CodigoIATA}`) #{aeropuertos[i].CodigoIATA}, #{aeropuertos[i].Ciudad} - #{aeropuertos[i].Pais}
                .form-group
                  label(for='FechaSalida') Fecha de viaje
                  input#FechaSalida.form-control(type='date' name='FechaSalida' required)
                button.btn.btn-warning(type='submit') Buscar ofertas
        // Reporte de ganancias
        div.col-4
          h4.mt-5.text-center Ganancias en un período
          div.card.bg-dark
            div.card-body.text-white
              - if(!ganancias)
                form(action=`/ganancias/` method="POST")
                  .form-group
                    label(for='FechaInicio') Desde
                    input#FechaInicio.form-control(type='date' value=`${FechaInicio}` name='FechaInicio' required)
                  .form-group
                    label(for='FechaFin') Hasta
                    input#FechaFin.form-control(type='date' value=`${FechaFin}` name='FechaFin' required)
                  button.btn.btn-warning(type='submit') Mostrar ganancias
              - if(ganancias)
                form(action=`/ganancias/` method="POST")
                  .form-group
                    label(for='FechaInicio') Desde
                    input#FechaInicio.form-control(type='date' value=`${FechaInicio}` name='FechaInicio' required)
                  .form-group
                    label(for='FechaFin') Hasta
                    input#FechaFin.form-control(type='date' value=`${FechaFin}` name='FechaFin' required)
                  button.btn.btn-warning(type='submit') Mostrar ganancias
                h4.mt-5.text-center Ganancias: $ #{ganancias[0].ganancias}
        div.col-4
          - if (numPasajes)
            // Reporte de cantidad de pasajes
            h4.mt-5.text-center Pasajes vendidos
            div(style="height: 21rem").card.btn-outline-dark
              img(src="https://image.freepik.com/vector-gratis/icono-vuelo-boleto-avion_24877-5863.jpg", alt="Pasaje" style="height: 16rem; width:100%")
              div(style="height: 8rem").car-body
                h3(style="margin-top:1.5rem").text-center #{numPasajes[0].num_pasajes}
        // Reporte de abordaje
        div.col-4
          h4.mt-5.text-center Abordaje de un vuelo
          div.card.bg-dark
            div.card-body.text-white
              - if (!porcAbordo)
                form(action='/abordaje/' method="POST")
                  .form-group
                    label(for='ID_Vuelo') ID del vuelo
                    input#ID_Vuelo.form-control(type='number' min="0" aria-describedby='ID_Vuelo' placeholder="ID_Vuelo" name='ID_Vuelo' required)
                  button.btn.btn-warning(type='submit') Ingresar
              - if (porcAbordo)
                form(action='/abordaje/' method="POST")
                  .form-group
                    label(for='ID_Vuelo') ID del vuelo
                    input#ID_Vuelo.form-control(type='number' min="0" aria-describedby='ID_Vuelo' placeholder="ID_Vuelo" name='ID_Vuelo' required)
                  button.btn.btn-warning(type='submit') Ingresar
                h4.mt-5.text-center Porcentaje a bordo: #{porcAbordo[0].abordaje}%
        // Reporte de destinos populares
        div.col-4
          h4.mt-5.text-center Destinos más visitados
          div.card.bg-dark
            div.card-body.text-white
              form(action=`/destinos_populares/` method="POST")
                button.btn.btn-warning(type='submit') Ver

    - if (ofertasVuelos)
      .row.mt-5
        .col-12
          h3.text-center Vuelos ofertados
          table.table.bg-white
            thead
              tr.tr.bg-dark.text-white
                th(scope='col') ID
                th(scope='col') Hora de salida
                th(scope='col') Hora de LLegada
                th(scope='col') Origen
                th(scope='col') Destino
                th(scope='col') Fecha de salida
                th(scope='col') Fecha de llegada
            tbody
            - for (var i = 0; i < ofertasVuelos.length; i++)
              tr
                td(scope='row') #{ofertasVuelos[i].IdVuelo}
                td #{ofertasVuelos[i].HoraSalida}
                td #{ofertasVuelos[i].HoraLlegada}
                td #{ofertasVuelos[i].Origen}
                td #{ofertasVuelos[i].Destino}
                td #{ofertasVuelos[i].FechaSalida}
                td #{ofertasVuelos[i].FechaLlegada}

    - if (escalasOfertadas)
      h3.text-center Vuelos ofertados
      .row.mt-5
        - for(let i = 0; i < escalasOfertadas.length; i++)
          div.col-3
            table.table.bg-dark.text-warning
              thead.card-header
                tr.bg-none
                  - if( (escalasOfertadas[i].length - 1) > 1)
                    th(scope='col') #{escalasOfertadas[i].length - 1} Escalas
                  - else
                    th(scope='col') #{escalasOfertadas[i].length - 1} Escala
                  th(scope='col') Viaje
              tbody.card-body.text-light
                tr
                  td
                    - for (let j = 1; j < escalasOfertadas[i].length; j++)
                      p #{escalasOfertadas[i][j].Origen}
                    p(style="visibility:hidden") ...
                  td #{escalasOfertadas[i][0].Origen} - #{escalasOfertadas[i][(escalasOfertadas[i].length - 1)].Destino}
          div.col-9
            table.table
              thead.card-header.bg-dark.text-warning
                th(scope='col') ID
                th(scope='col') Hora de salida
                th(scope='col') Hora de LLegada
                th(scope='col') Origen
                th(scope='col') Destino
                th(scope='col') Fecha de salida
                th(scope='col') Fecha de llegada
              tbody.card-body
              - for (let j = 0; j < escalasOfertadas[i].length; j++)
                tr
                  td(scope='row') #{escalasOfertadas[i][j].IdVuelo}
                  td #{escalasOfertadas[i][j].HoraSalida}
                  td #{escalasOfertadas[i][j].HoraLlegada}
                  td #{escalasOfertadas[i][j].Origen}
                  td #{escalasOfertadas[i][j].Destino}
                  td #{escalasOfertadas[i][j].FechaSalida}
                  td #{escalasOfertadas[i][j].FechaLlegada}
                  
    - if (destinosPop)              
      // Continuara                

    