extends base
block content
  .container.pt-4
    h2.text-center Reservaciones
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr.tr.bg-dark.text-white
              th(scope='col') ID
              th(scope='col') Comprador
              th(scope='col') Total a pagar
              th(scope='col') Tipo de asiento
              th(scope='col') Metodo de pago
              th(scope='col')
              th(scope='col')
          tbody
          - for (var i = 0; i < reservations.length; i++)
            tr
              th(scope='row') #{reservations[i].id}
              td #{reservations[i].idComprador}
              td #{reservations[i].totalPagar}
              td #{reservations[i].tipoAsiento}
              td #{reservations[i].metodoPago}
              td
                form(action=`show/${reservations[i].id}`,method="POST")
                  button.btn.btn-outline-dark(type='submit') Detalle
              td
                form(action=`delete/${reservations[i].id}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar
    div.card-body.bg-light
    h2.text-center Pasajes
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr.tr.bg-dark.text-white
              th(scope='col') ID
              th(scope='col') Reservación
              th(scope='col') Pasajero
              th(scope='col') Precio del pasaje
              th(scope='col') Tipo de pasaje
              th(scope='col') Piezas equipaje
              th(scope='col')
              th(scope='col')
          tbody
          - for (var i = 0; i < passages.length; i++)
            tr
              th(scope='row') #{passages[i].id}
              td #{passages[i].idReserva}
              td #{passages[i].idPasajero}
              td #{passages[i].precioPasaje}
              td #{passages[i].tipoPasaje}
              td #{passages[i].cantPiezasE}
              td
                form(action=`show/${passages[i].id}`,method="POST")
                  button.btn.btn-outline-dark(type='submit') Detalle
            //-   td
            //-     form(action=`delete/${passages[i].id}`,method="POST")
            //-       button.btn.btn-outline-danger(type='submit') Eliminar
        h4.mt-5 Reservar vuelo
        div.card.bg-dark
          div.card-body.text-white
            form(action='create/' method="POST")
              .form-group
                label(for='idComprador') Comprador
                select#idComprador.form-control(type='text' aria-describedby='idComprador' placeholder='Comprador' name='idComprador').custom-select
                    option(value="" disabled selected) ...
                    - for (var i = 0; i < customers.length; i++)
                      option(value=`${customers[i].cedula}`) #{customers[i].cedula}: #{customers[i].nombre} #{customers[i].apellido}
              .form-group
                label(for='tipoAsiento') Tipo de asiento
                select#tipoAsiento.form-control(type='number' placeholder='Tipo de asiento' name='tipoAsiento').custom-select
                    option(value="0") Primera Clase
                    option(value="1") Segunda Clase
                    option(value="2" selected) Clase Turista
              .form-group
                label(for='metodoPago') Método de pago
                select#metodoPago.form-control(type='number' placeholder='Método de pago' name='metodoPago').custom-select
                    option(value="0" selected) Efectivo
                    option(value="1") Transferencia
                    option(value="2") Tarjeta de debito
                    option(value="3") Tarjeta de crédito
              button.btn.btn-danger(type='submit') Reservar
          