extends base
block content
  .container.pt-4
    - if (!vueloUpdate)
      h2.text-center Vuelos
      .row.mt-5
        .col-12
          table.table.bg-white
            thead
              tr.tr.bg-dark.text-white
                th(scope='col') ID
                th(scope='col') Estatus
                th(scope='col') Fecha de salida
                th(scope='col') Fecha de llegada
                th(scope='col') Hora de salida
                th(scope='col') Hora de llegada
                th(scope='col') Destino
                th(scope='col') Avión
                th(scope='col') Ruta
                th(scope='col')
                th(scope='col')
                th(scope='col')
            tbody
            - for (var i = 0; i < vuelos.length; i++)
              tr
                th #{vuelos[i].IdVuelo}
                td #{vuelos[i].EstatusVuelo}
                td #{vuelos[i].FechaSalida}
                td #{vuelos[i].FechaLlegada}
                td #{vuelos[i].HoraSalida}
                td #{vuelos[i].HoraLlegada}
                - for(let j = 0; j < aeropuertos.length; j++)
                  - if(vuelos[i].Destino == aeropuertos[j].CodigoIATA) 
                    td #{aeropuertos[j].CodigoIATA}, #{aeropuertos[j].Ciudad} - #{aeropuertos[j].Pais}
                td #{vuelos[i].IdAvion}    
                - for(let l = 0; l < rutas.length; l++)
                  - if(rutas[l].IdRuta == vuelos[i].IdRuta) 
                    td #{rutas[l].IdRuta}, #{rutas[l].Origen} - #{rutas[l].Destino} 
                td
                  form(action=`/vuelo/${vuelos[i].IdVuelo}`,method="GET")
                    button.btn.btn-outline-dark(type='submit') Detalles
                td
                  form(action=`/vuelo/delete/${vuelos[i].IdVuelo}`,method="POST")
                    button.btn.btn-outline-danger(type='submit') Eliminar
                td
                  form(action=`/vuelo/tripulacion/${vuelos[i].IdVuelo}`,method="GET")
                    button.btn.btn-outline-warning(type='submit') Tripulación
    - if (tripulacion)
      h2.text-center Tripulación del vuelo #{VueloTrabajado}
      .row.mt-5
        .col-12
          table.table.bg-white
            thead
              tr.tr.bg-dark.text-white
                th(scope='col') Pasaporte
                th(scope='col') Nombre
                th(scope='col') Apellido
                th(scope='col') Cargo
                th(scope='col')
            tbody
            - for (var i = 0; i < tripulacion.length; i++)
              tr
                th #{tripulacion[i].Pasaporte}
                td #{tripulacion[i].Nombre}
                td #{tripulacion[i].Apellido}
                td #{tripulacion[i].Cargo}
                td
                  form(action=`/vuelo/deleteTripulacion/${tripulacion[i].IdEmpleado}-${VueloTrabajado}`,method="POST")
                    button.btn.btn-outline-danger(type='submit') Eliminar 
      - if (tripulacion)
        div.row
          div.col-12
            h4.mt-5 Agregar tripulación al Vuelo
            div.card.bg-dark
                div.card-body.text-white 
                  form(action=`/vuelo/createTripulacion/` method="POST")
                    .form-group
                        label(for='IdVueloTrabajado') Vuelo trabajado
                        input#IdVueloTrabajado.form-control(type='text' value=`${VueloTrabajado}` name='IdVueloTrabajado' required readonly="readonly")   
                    .form-group
                        label(for='IdEmpleado') Empleado
                        select#IdEmpleado.form-control(type='select' name='IdEmpleado' required).custom-select
                            option(value='' selected) ...
                            - for (let i = 0; i < empleados.length; i++)
                              option(value=`${empleados[i].IdPersona}`) (#{empleados[i].Pasaporte}) #{empleados[i].Apellido},#{empleados[i].Nombre} - #{empleados[i].Cargo}
                    button.btn.btn-danger(type='submit') Agregar
    - if (!vueloUpdate && !tripulacion)
        div.row
          div.col-12
            h4.mt-5 Registrar Vuelo
            div.card.bg-dark
                div.card-body.text-white 
                  form(action='/vuelo/create/' method="POST")
                    .form-group
                        label(for='EstatusVuelo') Estatus
                        select#EstatusVuelo.form-control(type='select' name='EstatusVuelo' required).custom-select
                            option(value="A tiempo" selected) A tiempo
                            option(value="Demorado") Demorado
                            option(value="En vuelo") En vuelo
                            option(value="Cancelado") Cancelado
                            option(value="Aterrizo") Aterrizó
                            option(value="Desviado") Desviado
                    .form-group
                        label(for='FechaSalida') Fecha de salida
                        input#FechaSalida.form-control(type='date' name='FechaSalida' required)   
                    .form-group
                        label(for='FechaLlegada') Fecha de llegada
                        input#FechaLlegada.form-control(type='date' name='FechaLlegada' required) 
                    .form-group
                        label(for='HoraSalida') Hora de Salida (Hora local Origen)
                        input#HoraSalida.form-control(type='time' name='HoraSalida' required)    
                    .form-group
                        label(for='HoraLlegada') Hora de llegada (Hora local Destino)
                        input#HoraLlegada.form-control(type='time' name='HoraLlegada' required)
                    .form-group
                        label(for='Destino') Destino
                        select#Destino.form-control(type='select' name='Destino' required).custom-select
                            option(value='' selected) ...
                            - for (let i = 0; i < aeropuertos.length; i++)
                              option(value=`${aeropuertos[i].CodigoIATA}`) #{aeropuertos[i].CodigoIATA}, #{aeropuertos[i].Ciudad} - #{aeropuertos[i].Pais}
                    .form-group
                        label(for='IdAvion') Avion
                        select#IdAvion.form-control(type='select' name='IdAvion' required).custom-select
                          option(value='' selected) ...
                            - for (let i = 0; i < aviones.length; i++)
                              option(value=`${aviones[i].IdAvion}`) #{aviones[i].IdAvion}
                    .form-group
                        label(for='IdRuta') Ruta
                        select#IdRuta.form-control(type='select' name='IdRuta' required).custom-select
                          option(value='' selected) ...
                            - for (let i = 0; i < rutas.length; i++)
                              option(value=`${rutas[i].IdRuta}`) #{rutas[i].IdRuta}, #{rutas[i].Origen} - #{rutas[i].Destino} 
                    button.btn.btn-danger(type='submit') Registrar
    - if (vueloUpdate && !tripulacion) 
        div.row 
          div.col-12
              h4.mt-5 Modificar Vuelo
              div.card.bg-dark
                div.card-body.text-white 
                  form(action=`/vuelo/update/${vueloUpdate.IdVuelo}` method="POST")
                    .form-group
                        label(for='EstatusVuelo') Estatus
                        select#EstatusVuelo.form-control(type='select' name='EstatusVuelo' required).custom-select
                            option(value="A tiempo" selected=(vueloUpdate == "A tiempo")) A tiempo
                            option(value="Cancelado" selected=(vueloUpdate == "Cancelado")) Cancelado
                            option(value="En vuelo" selected=(vueloUpdate == "En vuelo")) En vuelo
                            option(value="Demorado" selected=(vueloUpdate == "Demorado")) Demorado
                            option(value="Aterrizo" selected=(vueloUpdate == "Aterrizo")) Aterrizó
                            option(value="Desviado" selected=(vueloUpdate == "Desviado")) Desviado
                    .form-group
                        label(for='FechaSalida') Fecha
                        input#FechaSalida.form-control(type='date' value=`${vueloUpdate.FechaSalida}` name='FechaSalida' required)   
                    .form-group
                        label(for='FechaLlegada') Fecha
                        input#FechaLlegada.form-control(type='date' value=`${vueloUpdate.FechaLlegada}` name='FechaLlegada' required)   
                    .form-group
                        label(for='HoraSalida') Hora de Salida (Hora local Origen)
                        input#HoraSalida.form-control(type='time' value=`${vueloUpdate.HoraSalida}` name='HoraSalida' required)    
                    .form-group
                        label(for='HoraLlegada') Hora de llegada (Hora local Destino)
                        input#HoraLlegada.form-control(type='time' value=`${vueloUpdate.HoraLlegada}` name='HoraLlegada' required)
                    .form-group
                        label(for='Destino') Destino
                        select#Destino.form-control(type='select' name='Destino' required).custom-select
                            - for (let i = 0; i < aeropuertos.length; i++)
                              option(value=`${aeropuertos[i].CodigoIATA}` selected=(vueloUpdate.Destino == aeropuertos[i].CodigoIATA)) #{aeropuertos[i].CodigoIATA}, #{aeropuertos[i].Ciudad} - #{aeropuertos[i].Pais}
                    .form-group
                        label(for='IdAvion') Avion
                        select#IdAvion.form-control(type='select' name='IdAvion' required).custom-select
                            - for (let i = 0; i < aviones.length; i++)
                              option(value=`${aviones[i].IdAvion}` selected=(vueloUpdate.IdAvion == aviones[i].IdAvion)) #{aviones[i].IdAvion}
                    .form-group
                        label(for='IdRuta') Ruta
                        select#IdRuta.form-control(type='select' name='IdRuta' required).custom-select
                            - for (let i = 0; i < rutas.length; i++)
                              option(value=`${rutas[i].IdRuta}` selected=(vueloUpdate.IdRuta == rutas[i].IdRuta)) #{rutas[i].IdRuta}, #{rutas[i].Origen} - #{rutas[i].Destino} 
                    button.btn.btn-danger(type='submit') Modificar 
              h4.mt-5              
              a.btn.btn-dark(type="button" href="/ruta/") Volver 